<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container px-5 op">
        <a class="navbar-brand" href="#!"> <img src= "assets/img/Logo-in-white.png" class="logo"> brabel tours</a>
        <input id="search" class="form-control" type="text" placeholder="Search Location" aria-label="Search">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </div>
</nav>
