<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="map" src="assets/img/map2.jpg" alt="map" /></div>
    <div class="col-lg-5">
      <h1 class="header1">Start Your Next Journey!</h1>
      <p class = "paragraph1">Are you looking for information for your next adventure? If so, then Brabel Tours is exactly where you want to be! You can find information on cities around the world and interact with other adventurers to get their experiences.</p>
      <a id= "button1" class="btn btn-dark" href="#!">Click Here to Start</a>
    </div>
  </div>

 <!-- Content Row-->
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <div class="cardcontainer">
            <div class="photo"> <img src="assets/img/SanFrancisco1.jpg">
                <div class="photos">Photos</div>
            </div>
            <div class="content">
                <p class="txt4">San Francisco</p>
                <p class="txt5">Gold in Peace, Iron in War</p>
                <p class="txt2">San Francisco is often called "Everybody's Favorite City," a title earned by its scenic beauty, cultural attractions, and diverse communities.</p>
            </div>
            <div class="footer">
                <p><a class="waves-effect waves-light btn" routerLink="/cities/san-francisco">Read More</a>    
            </div>
        </div>
</div>
  
</div>

<div class="col-sm-4">
  <div class="container">
  <div class="cardcontainer">
      <div class="photo"> <img src="assets/img/SanFrancisco1.jpg">
          <div class="photos">Photos</div>
      </div>
      <div class="content">
          <p class="txt4">Hong Kong</p>
          <p class="txt5">Gold in Peace, Iron in War</p>
          <p class="txt2">San Francisco is often called "Everybody's Favorite City," a title earned by its scenic beauty, cultural attractions, and diverse communities.</p>
      </div>
      <div class="footer">
          <p><a class="waves-effect waves-light btn" routerLink="/cities/san-francisco">Read More</a>    
      </div>
  </div>

</div>
</div>

<div  class="col-sm-4">
  <div class="container">
    <div class="cardcontainer">
        <div class="photo"> <img src="assets/img/SanFrancisco1.jpg">
            <div class="photos">Photos</div>
        </div>
        <div class="content">
            <p class="txt4">Havana</p>
            <p class="txt5">Gold in Peace, Iron in War</p>
            <p class="txt2">San Francisco is often called "Everybody's Favorite City," a title earned by its scenic beauty, cultural attractions, and diverse communities.</p>
        </div>
        <div class="footer">
            <p><a class="waves-effect waves-light btn" routerLink="/cities/san-francisco">Read More</a>    
        </div>
    </div>
  
  </div>
</div>








</div>



    <!-- <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Hong Kong</h2>
          <p class="card-text">Hong Kong is a special administrative region (SAR) of the People's Republic of China. It comprises 200 islands located in Eastern Asia bordering the South China Sea and China. Much of Hong Kong's terrain is hilly to mountainous with steep slopes.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="/cities/hong-kong">More Info</a></div>
      </div>
    </div>



    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Havana</h2>
          <p class="card-text">La Habana (Havana), the capital of Cuba, is a city full of oppositions and contradictions. Its’ main attractions are its beautiful historic center, exceptional architecture, the revolutionary Cuban iconography (from El Malecon to the Plaza de la Revolución (Revolution Square), passing by La Giraldilla) and its broad range of cultural offers, which makes the Havana village one of the best destinations to visit in Latin America.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="/cities/havana">More Info</a></div>
      </div>
    </div>
  </div>
 -->


