<!--Carousel-->
<app-search-bar></app-search-bar>

<h1 class="sf">San Francisco</h1>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="assets/img/SanFrancisco1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/sfbridge.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/san-francisco-hero.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

    <div class="container">
      <div *ngFor= "let card of cardsInfo | slice:0:4" [ngClass]="card.id % 2 == 1 ? 'to-center' : ''" class="card">
        <div class="row ">
          <div class="col-md-4 col-sm-6 ">
            <div class="card bg-primary mb-3 text-center">
               <div class="card-body">
                  <blockquote class="blockquote">
                    <a class="title">{{card.title}}</a>
                    <p class="description">{{card.description}}</p>
                  </blockquote>
               </div>
            </div>
         </div>
        </div>
      </div>

<div class="page">
  <h5 class="card-title">Enter your comments and tips below</h5>
  <label class="field field_v1">
    <input class="field__input" [(ngModel)]="title" type="text" maxlength="200" placeholder="Title" size="45" required style="margin-bottom: 5px">
    <span class="field__label-wrap">
      <span class="field__label">Title</span>
    </span>
  </label>
  <label class="field field_v2">
    <input class="field__input" [(ngModel)]="description" type="text" placeholder="Description" required style="height: 30px">
    <span class="field__label-wrap">
      <span class="field__label">Description</span>
    </span>
  </label>    
  <input class ="submitButton" (click)="createNewCard(title, description)" type="submit">
</div>